body {
  background-color: #A6A6A6;
  color: #000000;
  font-family: 'Georgia', 'Helvetica', 'Tahoma', 'Times New Roman', 'Times', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  padding: 8px;
  margin: 0;
}
