body {
  background-color: #BCBCBC;
  background-image: url('tile.png');
  background-repeat: repeat repeat;
  background-position: left top;
  background-attachment: scroll;
  color: #000000;
  font-family: 'Georgia', 'Helvetica', 'Tahoma', 'Times New Roman', 'Times', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  padding: 8px;
  margin: 0;
}
